main {
    background-color: white;
    padding: 20px;
    flex-grow: 1;
    margin: auto;
    width: 800px;
}

.description {
    color: white;
    background-color: #05b384;
    padding: 16px;
}

.description h1 {
    margin-top: 0;
}
