.game-week-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.game-week-table td {
    padding-top: 16px;
    vertical-align: top;
}
.game-week-table .calendar-cell {
    /* Calendar is 140px, padding 10px each side */
    width: 160px;
}
