* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: #ececec;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    /* Nav is 60px fixed */
    padding-top: 60px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
main {
    background-color: white;
    flex-grow: 1;
    margin: auto;
    width: 800px;
}

.game-week {
}
