/* colors from https://coolors.co/26547c-ef476f-05b384-ffd166-fcfcfc */
nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    color: white;
    height: 60px;
    background-color: #05b384;
    padding: 10px;
    line-height: 40px;
    font-size: 40px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}
nav .member {
    padding: 8px;
    float: right;
    line-height: 24px;
    font-size: 24px;
}
